@import 'mode-css-v1.00/mode.css';

#logo {
    width: auto;
}

.f-1-450 {
    flex: 1 1 450px;
}

header,
footer {
    background-color: var(--theme1);
    color: var(--light);
}

.overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    color: var(--light);
    transition: opacity 300ms;
}

.overlay:hover {
    opacity: 1;
}

article img {
    display: block;
}